@font-face {
    font-family: 'Neue Power Ultra';
    src: url('NeuePower-Ultra.woff2') format('woff2'),
        url('NeuePower-Ultra.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

